
body{
  background-color: var(--fundo2) !important;
}
.header{
    background-color: var(--fundo2) !important;
    
}


.header ul{
    display: flex;
    gap:20px !important;
    margin-right: 100px;
}

.header li{
    font-size:22px;
    color:#FE5F99 ;
}

.header a{
    color:#FE5F99;
}



.main-logo{
    margin-left:100px;
}
.landing-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px; /* Ajuste conforme necessário */
  padding: 50px;
  height: 100vh;
  background-color: var(--fundo1);
  padding-top: 100px;
  margin: 0 auto; /* Isso centralizará a div .landing-page */
  max-width:100vw; /* Adicione a largura máxima desejada */
}

.main-img{
    margin-left: 70px;
    animation: moveUpDown 2s infinite alternate ease-in-out;
    position: relative;

  
   
}
@keyframes moveUpDown {
    0% {
      top: 0;
    }
    100% {
      top: 30px; /* Ou qualquer valor desejado para o movimento para baixo */
    }
  }

.landing-page h1{
    max-width: 300px;
    font-weight: 800;
    color:#46CC6B;
}

.landing-page span{
   color: #FE5F99;
}

.landing-page p{
    max-width: 400px ;
}



   .conteudo{
display: flex;
flex-direction: column;
gap:20px;
   }

   .item img{
    width: 500px !important;
    height: 350px !important;
    object-fit: cover;
    border-radius:15px;
  }
   

   /*Projetos*/


   .content{
    height:100vh;
    background-color: var(--fundo2);
    padding: 50px;
    margin-top:100px;
   }

.wrapper {
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
  padding: 0 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap:15px;
}
.polaroid {
  background:#FFB9D2;
  padding: 1.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  border-radius:15px;
  
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item2{
    transform: rotate(0deg)  !important;
}

.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}


/*Sobre*/
   .content2{
    display: flex;
    height: 100vh;
    background-color: var(--fundo2);
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    padding-bottom:300px;
   }

   .content2 .poetas{

    width: 600px;
    padding: 0;
    border-radius: 15px;

   }

   
   .texto-sobre{
    margin-top:90px;
    display: flex;
    flex-direction: column;
    gap:30px;
   }


   .texto-sobre p{
    font-size: 22px !important;
   }
   /*NO RESPONSIVO
   .main-img{
    display: none;
   }
   */
 
   .content2 #sobre{
    color: #46CC6B;;
   }


   .content2 p{
    max-width: 550px;
    font-size:30px;
    text-align: justify;
   }
   .content2 .text-img{
    display: flex;
    flex-direction: row;
    gap:100px;
    margin-top: 100px;
    flex-wrap: wrap !important;

   }


   .fotinhos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:106px;
    justify-content: center;
    align-items: center;

   }

   .img-sobre-2{
    opacity: 0;
    display: none;
  }

   .fotinhos img{
    width: 300px;
    height: 270px;
   }

   #sobre{
  font-weight:bold;
   }


   /*Contato*/
   .contato{
    background-color: var(--fundo2);
height: 80vh;
display: flex;
justify-content: center;
align-content: center;
   }


   .contato form{
display: flex;
flex-direction: column;
gap:20px;
   }

   .contate-me{
    background-color: #FFC2E1;
    width: 406px;
    height: 400px;
    text-align: center;
    margin-left: 400px; /*No responsivo deve ficar no centro...*/
    z-index: 999;
    border-radius: 16px;
   }

   .contate-me h2{
    margin-top:40px;
    color:#46CC6B;
    font-weight: bold;
   }

   form{
    padding: 25px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
   }

 .nomemail{
display: flex;
flex-direction:row;
gap:10px;

 }


 .contato .tira{
    position: absolute;
    background-color:#FAD2E5;
    width:100%;
    height: 230px;
    margin-top:100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  
 }

 .projetos{
  display:none;
  opacity: 0;
  text-align: center;
}

 .contato .tira p{
    max-width: 500px;
    margin-right: 600px;
    font-weight: bold;
    font-size: 24px;
  
 }

 form input{
    width: 168px;
    height:36px;
    background-color: #F8E5E5;
    border-radius: 10px;
    border: none;
    padding: 0.8rem;
 }


 form textarea{
    width: 350px;
    height: 120px !important;
    background-color: #F8E5E5;
    border-radius: 10px;
    border: none;
    padding: 0.4rem;
    resize: none;
 }

 .invisivelparausuarios{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  color: transparent;
  display: block;
  position: absolute;
 }

 /* Estilos para telas menores (ex: smartphones) */
@media (max-width: 768px) {

  .projetos{
    display: block;
    opacity: 1;
  }

  .wrapper{
    display: none;
    opacity: 0;
  }
  .content{
height: 100vh;
  }
  .landing-page {
    margin-left:30px;
     text-align: center;
     width: 100vw;
  }

  .conteudo{
    padding:30px;
    text-align: center;
  }
  .landing-page .conteudo {
    padding-bottom:100px;
    text-align: center;
 }

  .landing-page h1 {
     max-width: 100%;
  }

  .main-img {
     display: none;
  }

  .content,
  .content2,
  .contato {
     padding: 20px;
  }

  .texto-sobre{
    padding:0 60px ;
    margin-bottom:600px;
  }

  .wrapper {
     padding: 0;
  }

  .card-img-top{
    height:430px;
  }

  .item {
    width: 190px;
    height: 100px !important;
  }

  .contato .tira {
     margin-top: 20px;
  }

  .contato .tira p {
     margin-right: 0;
  }

  .contate-me {
     margin-left: 0;
     width: 100%;
  }

  .caption {
    font-size:17px;
  }
  .item img {
  display: none;
}

  .text-img{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;

  }

  .img-sobre-2{
    opacity: 1;
    display: block;
    width: 400px;
    height: 400px;
    padding:20px;
    margin-top:300px;
  }
  .poetas{
    display: none;
  }

}
/* Estilos para telas médias (notebooks, tablets) */
@media (max-width: 1500px) {
  .header ul {
      margin-right: 50px; /* Reduzindo a margem para telas médias */
  }

  .main-logo {
      margin-left: 50px; /* Reduzindo a margem para telas médias */
  }
  .projetos{
    display: block;
    opacity: 1;
  }
  
  .wrapper{
    display: none;
    opacity: 0;
  }

  .landing-page {
      gap: 50px; /* Ajustando o espaçamento para telas médias */
      padding: 20px; /* Ajustando o espaçamento para telas médias */
  }

  .main-img {
      margin-left: 20px; /* Ajustando a margem para telas médias */
  }

  .content {
      margin-top: 50px; /* Ajustando a margem para telas médias */
  }

  .wrapper {
      padding: 0 1rem; /* Ajustando o padding para telas médias */
  }
  .poetas{
    display: none;
  }

  .item {
      width: 45%; /* Reduzindo a largura para telas médias */
  }

  .contato p{
    display: none;
    opacity: 0;
  }
  /* Adicione outras modificações necessárias para telas médias */
}
/* Estilos para telas médias (notebooks, tablets) */
@media (max-width: 1024px) {
  .header ul {
      margin-right: 50px; /* Reduzindo a margem para telas médias */
  }
  .projetos{
    display: block;
    opacity: 1;
  }
  
  .wrapper{
    display: none;
    opacity: 0;
  }

  .main-logo {
      margin-left: 50px; /* Reduzindo a margem para telas médias */
  }

  .landing-page {
      gap: 50px; /* Ajustando o espaçamento para telas médias */
      padding: 20px; /* Ajustando o espaçamento para telas médias */
  }

  .main-img {
      margin-left: 20px; /* Ajustando a margem para telas médias */
  }
  
  .contato p{
    display: none;
    opacity: 0;
  }

  .content {
      margin-top: 50px; /* Ajustando a margem para telas médias */
  }

  .wrapper {
      padding: 0 1rem; /* Ajustando o padding para telas médias */
  }

  .item {
      width: 45%; /* Reduzindo a largura para telas médias */
  }

  .poetas{
    display: none;
  }

  .contato p{
    display: block;
    margin-left:40PX;
  }

  .texto-sobre{
    margin-top:500px;
  }

  /* Adicione outras modificações necessárias para telas médias */
}
